<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class='container-fluid'>

<nav class='navbar navbar-inverse'>
  <ul class='nav nav-pills'>
    <li role='presentation'><a href="/ravens">Ravens' Home Page</a></li>
    <li role='presentation'><a href="/ravens/new">Add Player</a></li>
    <li role='presentation'><a href="/logout">Logout</a></li>
  </ul>
</nav>
<div class= 'row'>
  <div class='col-md-offset-2 col-md-8 jumbotron'>
    

